/* modal css */
body {
    margin: 0px;
}


.Modal {
    width: 500px;
    height: max-content;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.CloseBtn {
    display: flex;
    justify-content: flex-end;
}

.title {
    text-align: center;
}



input[type=text],
input[type=number],
input[type=email],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

input[type=radio] {
    margin-left: 29px;
    margin-bottom: 8px;
}

#phone {
    margin: 8px 0;
}

.footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer button {
    width: 150px;
    height: 41px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

#cancelBtn {
    background-color: crimson;
}

.model_background {
    background-color: #c8c8c8;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ModalBackground {
    overflow: scroll;
}

.ModalBackground::-webkit-scrollbar {
    display: none
}